.pages-noticias {
    margin: 1em 3em;
}

.not {
    background-color: #181818;
    border: 3px solid #b39359;
    margin: 1em;
    font-weight: normal;
    border-radius: 0px;
    letter-spacing: 1px;
    color: #fff;
    position: relative;
    overflow: hidden;
}

.not:hover {
    /*background: #b39359;
    border: 3px solid #181818;
    color: #181818;*/
}

.noticias-img {
    width: 100%;
}

.noticia-msg {
    margin: 1em 1em;
    cursor: default;
}

.hashTag {
    font-size: 14px;
    color: #1981c3;
}

.hashTag:hover,
.hashTag:active,
.hashTag:focus,
.hashTag:visited {
    text-decoration: underline;
    color: #1981c3;
}